body {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7698db;
}

footer {
  text-align: center;
  font-family: sans-serif;
}

.games {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: inline-block;
  max-width: 388px;
  align-content: center;
  background-color: #5777b5;
  margin-bottom: 12px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.container:hover {
  background-color: #41509c;
  transition: ease-in 0.2s;
}

.cell {
  margin: 10px;
}

.cell img {
  max-width: 368px;
}

.TopBar {
  margin-bottom: 5%;
  margin-top: 2%;
}

.Logo {
  text-align: center;
}

.Logo a {
  text-decoration: none;
  font-family: sans-serif;
  color: #f5c645;
}

.description {
  text-align: justify;
  font-family: sans-serif;
  color: #d6d6d6;
}

.title h1 {
  text-decoration: none;
  font-family: sans-serif;
  color: #d6d6d6;
  text-align: center;
  margin: -1%;
  margin-top: 2%;
  font-size: 25px;
}

#Cnotice {
  color: #d6d6d6;
  font-style: italic;
}

#privacy {
  color: #d6d6d6;
  font-style: italic;
  font-size: 15px;
}

::selection {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 180, 180);
}
